{%- if user.sysadmin -%}
En tant qu'administreur de "{{ site_title }}",
{%- elif organization -%}
En tant que membre de "{{ organization }}",
{%- else -%}
En tant que propriétaire,
{%- endif -%}
nous vous informons que {{ alert.user.fullname }} a émis une alerte sur jeu de données:

Jeu de données: {{ alert.dataset.title }}
Type: {{ names[alert.type] }}
Commentaire:

{{ alert.comment }}


Vous pouvez consulter cette alerte sur la page du jeu de données:
{{ dataset_url }}

--
L'équipe de "{{ site_title }}".
